.container {
  display: flex;
}

.container.space-around {
  position: relative;
  align-items: center;
  z-index: 500;
  display: flex;
  flex-direction: column;
  min-width: 900;
  max-width: 95%;
}


.button {
  grid-area: SettingsButton;
  position: relative;
  width: min-content;
  margin-left: auto;
  margin-right: 0;
  border: 0ch;
  z-index: 600;
  background-color: transparent;
}

.buttonImage {
  object-fit: cover;
  display: block;
}

.mapFilters {
  grid-area: "SettingsDiv";
  border-radius: 1em;
  display: inline-block;
  margin-left: auto;
  padding: 5px;
  margin-right: 10px;
  margin-right: 10px;
  //margin-left: minmax(10, auto);
  background: rgba(255, 255, 255, 0.502);
  z-index: 500;
  min-width: 50%;
  max-width: 80%;
}

.rs-container .rs-scale span:last-of-type {
  width: 0 !important;
}

.slider-container {
  align-content: center;
  width: 100%;
  max-width: 90%;
  z-index: 500;
  margin: 40px;
  padding-top: 10px;
}

.slider-id {
  align-self: center;
  padding: 15px;
  font-size: 18px;
}

.mapControls {
  z-index: 500;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#checkinMap {
  height: 100%;
  width: 100vw;
}

#masterGrid {
  width: 100%;
  position: absolute;
  top: 55px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content min-content;
  grid-auto-flow: row;
  grid-template-areas:
    "Heading"
    "SettingsButton"
    "SettingsDiv";
}

.sliderStyle {
  min-width: 58%;
  max-width: 75%;
}

h1 {
  grid-area: Heading;
  position: relative;
  align-self: center;
  text-align: center;
  padding: 0%;
  width: 100%;
  z-index: 500;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  margin: 0;
}

.earliest-date-label:before {
  content: "Earliest date: ";
  font: 700 16px Arial;
}
span#event-start,span#event-end{
  font-size: 16px;
}
.latest-date-label:before {
  content: "Latest date: ";
  font: 700 16px Arial;
}

@media only screen and (max-width: 600px) {

  .slider-container {
    width: 100% !important;
    max-width: 95% !important;
    margin: 36px 10px !important;
  }

  .mapFilters {
    min-width:85% !important;
    max-width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 15px !important;
  }
  h1 {
    font-size: 17px;
  }
  img#buttonImage{
    width: 35px;
  }
  div#mapFilters{
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .noUi-horizontal{
    height: 12px!important;
  }
  .noUi-horizontal .noUi-handle{
    top: -10px!important;
  }
}