.container {
  display: flex;
}

.container.space-around {
  position: relative;
  align-items: left;
  z-index: 500;
  flex-direction: column;
}


.button {
  position:absolute;
  top:20px;
  right: 20px;
    z-index: 600;

    margin: 0.2em;
}

.mapFilters {
  border-radius: 1em;
  position: relative;
  display: none;
  padding: 1em;
  margin-right: 1em;
  float: right;
  background: rgba(255, 255, 255, 0.502);
  z-index: 500;

}

body {
  padding: 0;
  margin: 0;
}

html,
body,
#checkinMap {
  height: 100%;
  width: 100vw;
}

h1 {
  position: relative;
  text-align: center;
  z-index: 500;
}