.container {
  display: flex;
}

.container.space-around {
  position: relative;
  align-items: left;
  z-index: 500;
  flex-direction: column;
}


.button {
  grid-area: SettingsButton;
  position: relative;
  width: min-content;
  margin-left: auto; 
  margin-right: 0;
  border: 0ch;
  z-index: 600;
  background-color: transparent;

}

.buttonImage{
  object-fit: cover;
  display:block;
}
.mapFilters {
  grid-area: "SettingsDiv";
  border-radius: 1em;
  position: relative;
  display: none;
  padding: 1em;
  background: rgba(255, 255, 255, 0.502);
  z-index: 500;

}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#checkinMap {
  height: 100%;
  width: 100vw;
}

#masterGrid {  
  width: 100%;
  position: absolute;
  top: 55px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content min-content;
  grid-auto-flow: row;
  grid-template-areas:
    "Heading"
    "SettingsButton"
    "SettingsDiv";
}
.sliderStyle{
  width: 65%; 
}

h1 {
  grid-area: Heading;
  position: relative;
  align-self: center;
  text-align: center;
  padding: 0%;
  width: 100%;
  z-index: 500;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  margin: 0;
}