node_modules/
node_modules
.parcel-cache
.parcel-cache/
audiofiles/
audiofiles
weatherData/
weatherData
dist
dist/
.DS_Store
**/.DS_Store
.replit
**/.replit
.replit.nix
**/.replit.nix
database.db
**/database.db
ecosystem.config.js